form {
    text-align: right;
}

#content {
    padding-top: 13%;
    width: 50%;
}

h2 {
    margin-bottom: 35px;
}

input {
    width: 55%;
    margin:auto;
    border: none;
    font-size: 28px;
    padding: 10px;
    border: 5px solid rgb(33, 33, 33);
    border-radius: 8px;
    margin-bottom: 13px;
    text-align: left;
}

.form-section {
    display: block;
}

.label {
    font-size: 20px;
    float: left;
    display: inline;
}

.submit {
    padding: 14px;
    text-align: center;
    width: 40%;
    background: rgb(80, 80, 135);
}