form {
    float: center;
    text-align: center;
}

input {
    margin:auto;
    text-align: left;
    border: none;
    font-size: 25px;
    padding: 18px;
    border: 5px solid rgb(33, 33, 33);
    border-radius: 8px;
    display: block;
    margin-bottom: 15px;
}
