form {
    text-align: right;
}

#content {
    padding-top: 6%;
    width: 50%;
}

h2 {
    margin-bottom: 35px;
}

input {
    width: 55%;
    margin:auto;
    border: none;
    font-size: 28px;
    padding: 10px;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 0px;
    margin-bottom: 13px;
}

.form-section {
    display: block;
}

.label {
    font-size: 20px;
    float: left;
    display: inline;
}

.submit {
    border-radius: px;
    font-size: 20px;
    padding: 12px;
    text-align: center;
    width: 32%;
    border: none;
    color: white;
    background: #4b85ff;
}

/* #google, #lucky {

    background: #f8f9fa;
    color: rgb(80, 80, 80);
    border-radius: 3px;
    font-size: 14px;
    margin: 3px;
    padding: 10px 17.66px;
    margin-top: 14px;
    display: inline;
    border: none;
}


#google:hover, #lucky:hover {
    color: orange;
    background: rgb(38, 38, 38);
} */